{
  "openapi": "3.1.1",
  "info": {
    "title": "0xTzKT API",
    "description": "# Introduction\n\n0xTzKT API provides you with convenient and flexible access to the Tezos L1 and Tezos X (L2) data, processed and indexed by its own indexer. \nYou can fetch all historical data via REST API, or subscribe for real-time data via WebSocket API.\n\n0xTzKT Indexer and API are [open-source](https://github.com/baking-bad/xtzkt), so don't be afraid to depend on the third-party service,\nbecause you can always clone, build and run it yourself to have full control over all the components.\n\nFeel free to contact us if you have any questions or feature requests.\nYour feedback is much appreciated!\n\n- Discord: https://discord.gg/aG8XKuwsQd\n- Telegram: https://t.me/baking_bad_chat\n- X: https://x.com/TezosBakingBad\n- Email: hello@bakingbad.dev\n\nAnd don't forget to star 0xTzKT [on GitHub](https://github.com/baking-bad/xtzkt) if you like it 😊\n\n# Get Started\n\n## Pagination and sorting\n\nEvery endpoint that returns a list is paginated and sorted the same way, with four query parameters:\n`sort`, `cursor`, `offset` and `limit`. There are two ways to walk a list — **cursor** (keyset) and\n**offset** — and the short version is: use `cursor` for anything longer than a few pages.\n\n### Sorting\n\n- `?sort=<field>` sorts ascending, `?sort=<field>.desc` descending. Several fields are allowed:\n  `?sort=balance.desc,id.asc`.\n- Only whitelisted fields can be sorted by, because each of them is backed by an index. The list\n  differs per endpoint and is spelled out under \"Allowed fields\" in the `sort` parameter of each one.\n  Anything else is a `400`, which also names the fields that endpoint does accept.\n- `id` is always appended as the last sort field, unless you sorted by it explicitly. So the order\n  is always strict — items with equal `balance` never shuffle between two identical requests — and\n  a cursor can never skip or duplicate a row.\n- The default is `?sort=id`, ascending. For newest first use `?sort=id.desc`.\n\n### Cursor\n\nA cursor is not an opaque token: it is the **sort field values of the last item from the previous\npage**, comma-separated, one value per `sort` field.\n\n```\nGET /v1/blocks?sort=id.desc&limit=100                    → last item has id 5261000\nGET /v1/blocks?sort=id.desc&limit=100&cursor=5261000     → the next 100 blocks\n```\n\n```\nGET /v1/tokens/balances?sort=balance.desc,id&limit=100   → last item: balance 1000, id 1234\nGET /v1/tokens/balances?sort=balance.desc,id&limit=100&cursor=1000,1234\n```\n\n- Pass a value for **every** field in `sort`. Fewer values are accepted, but then paging happens on\n  that prefix only and the rest of the tie group is skipped — pass them all and this can't happen.\n- Cursor paging stays equally fast at any depth, and it is also more correct than `offset`: when new\n  items arrive between two requests, an offset shifts the whole list and you get duplicates or gaps,\n  while a cursor stays anchored to the item you left off at.\n- To download a whole list, loop until the response is empty:\n  `?sort=id&limit=10000` and then `cursor=<id of the last item>` on every next request.\n\n### Offset and limit\n\n- `?limit=` is between `1` and `10000`, `100` by default. Activity endpoints cap it at\n  `1000`: they merge several tables per request, so their cost grows with the limit faster.\n- `?offset=` is between `0` and `100000`. It is capped on purpose: DB materializes and throws\n  away the skipped rows, so an offset costs time proportional to its value, and past a certain depth\n  a single request would occupy the database for seconds.\n- The cap is roughly 1000 pages of 100 items, which no interactive listing ever reaches. If you do\n  hit it, you're bulk-reading — which is exactly what `cursor` is for, and it's faster anyway.\n- All these caps are configured per instance; the numbers above are this instance's.\n\n## Selecting fields\n\n`?select=` names the fields to return instead of the default set: `?select=id,hash,balance`. Only the\nselected columns are read and serialized, so responses get noticeably smaller and faster — use it\nwherever a listing feeds a table or a chart rather than a details page.\n\n- Each item is `field`, or `field.path` to reach into a nested object, optionally followed by `as alias`\n  to rename the result: `?select=balance,sender.hash as from`.\n- A single selected field flattens the response into a plain array of values. `?select.values=a,b` does\n  the same for several fields at once, returning an array of arrays instead of objects.\n- An unknown top-level field is a `400` that names it. An unknown path inside a known object is either\n  a `400` too or comes back as `null`, depending on the object, so a typo there may show up as an\n  all-null column.\n\n## Filtering\n\n### Lists\n\nMost filters take a list: `?level.in=100,200,300` matches any of the values, `?sender.hash.ni=tz1...,tz1...`\nexcludes all of them. This is also how to fetch a batch of items by known keys, `?hash.in=...` or\n`?id.in=1,2,3`, instead of one request per item.\n\n- A list holds at most **50** values. The cap is configured per instance, so treat it as\n  this instance's value rather than the API's.\n- Duplicates count. Dedupe on your side, it's your quota.\n- Only lists of values are capped. Enum lists like `?status.in=applied,failed`, flags like `types` and\n  `roles`, `sort`, `cursor` and `select` are not batches and have no such limit.\n",
    "contact": {
      "name": "Baking Bad Team",
      "url": "https://bakingbad.dev",
      "email": "hello@bakingbad.dev"
    },
    "version": "v0.1.0",
    "x-logo": {
      "url": "https://tzkt.io/logo.png",
      "href": "https://tzkt.io/"
    }
  },
  "servers": [
    {
      "url": "http://api.xtzkt.io/"
    }
  ],
  "paths": {
    "/v1/accounts/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account",
        "description": "Returns the account the specified address belongs to: its canonical hash and all the addresses\nit owns — the same hash on other chains and layers, plus Tezos X aliases in other runtimes.\nAny of the account's own address hashes can be used for the lookup, they all resolve to the same\naccount. Returns `null` if there's no such address.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Any address of the account (`tz`, `KT`, `sr`, `0x`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/addresses": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get addresses",
        "description": "Returns a list of addresses of all kinds — users, bakers, contracts, smart rollups — with their\nbalances, counters and type-specific details. The `type` field tells you which kind an address is,\nand therefore which extra fields it carries.\n\nAn address is a single hash on a single chain, so the same hash may appear more than once.\nAdd `chain` when you mean a particular one. To get all addresses of the same party at once\n(including Tezos X aliases in other runtimes), use `/v1/accounts/{address}` instead.\n\nUse `select` to fetch just the fields you need — it makes responses noticeably smaller and faster.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filters by internal unique id.\n\nClick on the parameter to expand more details.\n\nExamples: `?id=123`, `?id.in=1,2,3`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Filters by chain the item belongs to.\n\nClick on the parameter to expand more details.\n\nExamples: `?chain=0`, `?chain.chainId=NetXdQprcVkpaWU`.",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Filters by address hash.\n\nClick on the parameter to expand more details.\n\nExamples: `?hash=tz1...`, `?hash.in=tz1...,0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressHashParameter"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters by address type.\n\nClick on the parameter to expand more details.\n\nExamples: `?type=l1_user`, `?type.in=l1_contract,x_evm_contract`.",
            "schema": {
              "$ref": "#/components/schemas/AddressTypeParameter"
            }
          },
          {
            "name": "runtime",
            "in": "query",
            "description": "Filters by runtime.\n\nClick on the parameter to expand more details.\n\nExample: `?runtime=evm`.",
            "schema": {
              "$ref": "#/components/schemas/RuntimeParameter"
            }
          },
          {
            "name": "firstLevel",
            "in": "query",
            "description": "Filters by level of the block where the address first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstLevel.gt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "firstTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the address first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstTimestamp.gt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters by level of the block where the address was last seen.\n\nClick on the parameter to expand more details.\n\nExample: `?lastLevel.lt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "lastTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the address was last seen.\n\nClick on the parameter to expand more details.\n\nExample: `?lastTimestamp.lt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `balance`, `firstTimestamp`, `lastTimestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/addresses/count": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get addresses count",
        "description": "Returns the number of addresses matching the filters — the same ones accepted by `/v1/addresses`.\nHandy for pagination controls, when you need the total without fetching the items themselves.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filters by internal unique id.\n\nClick on the parameter to expand more details.\n\nExamples: `?id=123`, `?id.in=1,2,3`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Filters by chain the item belongs to.\n\nClick on the parameter to expand more details.\n\nExamples: `?chain=0`, `?chain.chainId=NetXdQprcVkpaWU`.",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Filters by address hash.\n\nClick on the parameter to expand more details.\n\nExamples: `?hash=tz1...`, `?hash.in=tz1...,0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressHashParameter"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters by address type.\n\nClick on the parameter to expand more details.\n\nExamples: `?type=l1_user`, `?type.in=l1_contract,x_evm_contract`.",
            "schema": {
              "$ref": "#/components/schemas/AddressTypeParameter"
            }
          },
          {
            "name": "runtime",
            "in": "query",
            "description": "Filters by runtime.\n\nClick on the parameter to expand more details.\n\nExample: `?runtime=evm`.",
            "schema": {
              "$ref": "#/components/schemas/RuntimeParameter"
            }
          },
          {
            "name": "firstLevel",
            "in": "query",
            "description": "Filters by level of the block where the address first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstLevel.gt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "firstTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the address first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstTimestamp.gt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters by level of the block where the address was last seen.\n\nClick on the parameter to expand more details.\n\nExample: `?lastLevel.lt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "lastTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the address was last seen.\n\nClick on the parameter to expand more details.\n\nExample: `?lastTimestamp.lt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get domains",
        "description": "Returns Tezos Domains names with their owner, the address they resolve to and their expiration.\nFilter by `name` to resolve a name, or by `address` with `reverse=true` to get the primary name of an address.\n\nExpired domains are not removed, so add `expiration.gt` with the current time to get only the active ones.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filters by internal unique id. Within a chain ids grow over time, so sorting by id sorts chronologically.\n\nClick on the parameter to expand more details.\n\nExamples: `?id=123`, `?id.in=123,456`.",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Filters by chain the item belongs to.\n\nClick on the parameter to expand more details.\n\nExamples: `?chain=0`, `?chain.chainId=NetXdQprcVkpaWU`.",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "registry",
            "in": "query",
            "description": "Filters by name registry contract.\n\nClick on the parameter to expand more details.\n\nExample: `?registry.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters by domain level: `1` for top-level domains, `2` for `alice.tez`, and so on.\n\nClick on the parameter to expand more details.\n\nExample: `?level=2`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters by domain name.\n\nClick on the parameter to expand more details.\n\nExamples: `?name=alice.tez`, `?name.as=*.alice.tez`.",
            "schema": {
              "$ref": "#/components/schemas/StringParameter"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filters by owner address.\n\nClick on the parameter to expand more details.\n\nExample: `?owner=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressHashParameter"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Filters by address the domain resolves to.\n\nClick on the parameter to expand more details.\n\nExamples: `?address=tz1...`, `?address=null`.",
            "schema": {
              "$ref": "#/components/schemas/AddressHashNullParameter"
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "Filters by reverse record: `true` for domains that are the primary name of their address.\n\nExample: `?reverse=true`.",
            "schema": {
              "type": [
                "null",
                "boolean"
              ]
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "Filters by expiration time.\n\nClick on the parameter to expand more details.\n\nExample: `?expiration.gt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "Filters by domain data.\n\nClick on the parameter to expand more details.\n\nExample: `?data.twitter:handle=alice`.",
            "schema": {
              "$ref": "#/components/schemas/JsonParameter"
            }
          },
          {
            "name": "firstLevel",
            "in": "query",
            "description": "Filters by level of the block where the item first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstLevel.gt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "firstTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the item first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstTimestamp.gt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters by level of the block where the item was last active.\n\nClick on the parameter to expand more details.\n\nExample: `?lastLevel.lt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "lastTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the item was last active.\n\nClick on the parameter to expand more details.\n\nExample: `?lastTimestamp.lt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `lastTimestamp`, `expiration`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/count": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get domains count",
        "description": "Returns the number of domains matching the filters — the same ones accepted by `/v1/domains`.\nHandy for pagination controls, when you need the total without fetching the items themselves.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filters by internal unique id. Within a chain ids grow over time, so sorting by id sorts chronologically.\n\nClick on the parameter to expand more details.\n\nExamples: `?id=123`, `?id.in=123,456`.",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Filters by chain the item belongs to.\n\nClick on the parameter to expand more details.\n\nExamples: `?chain=0`, `?chain.chainId=NetXdQprcVkpaWU`.",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "registry",
            "in": "query",
            "description": "Filters by name registry contract.\n\nClick on the parameter to expand more details.\n\nExample: `?registry.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters by domain level: `1` for top-level domains, `2` for `alice.tez`, and so on.\n\nClick on the parameter to expand more details.\n\nExample: `?level=2`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters by domain name.\n\nClick on the parameter to expand more details.\n\nExamples: `?name=alice.tez`, `?name.as=*.alice.tez`.",
            "schema": {
              "$ref": "#/components/schemas/StringParameter"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filters by owner address.\n\nClick on the parameter to expand more details.\n\nExample: `?owner=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressHashParameter"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Filters by address the domain resolves to.\n\nClick on the parameter to expand more details.\n\nExamples: `?address=tz1...`, `?address=null`.",
            "schema": {
              "$ref": "#/components/schemas/AddressHashNullParameter"
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "Filters by reverse record: `true` for domains that are the primary name of their address.\n\nExample: `?reverse=true`.",
            "schema": {
              "type": [
                "null",
                "boolean"
              ]
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "Filters by expiration time.\n\nClick on the parameter to expand more details.\n\nExample: `?expiration.gt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "Filters by domain data.\n\nClick on the parameter to expand more details.\n\nExample: `?data.twitter:handle=alice`.",
            "schema": {
              "$ref": "#/components/schemas/JsonParameter"
            }
          },
          {
            "name": "firstLevel",
            "in": "query",
            "description": "Filters by level of the block where the item first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstLevel.gt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "firstTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the item first appeared.\n\nClick on the parameter to expand more details.\n\nExample: `?firstTimestamp.gt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters by level of the block where the item was last active.\n\nClick on the parameter to expand more details.\n\nExample: `?lastLevel.lt=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "lastTimestamp",
            "in": "query",
            "description": "Filters by timestamp of the block where the item was last active.\n\nClick on the parameter to expand more details.\n\nExample: `?lastTimestamp.lt=2024-01-01T00:00:00Z`.",
            "schema": {
              "$ref": "#/components/schemas/DateTimeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/deposit": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get deposit operations",
        "description": "Returns deposits — funds bridged from Tezos L1 into Tezos X, credited to an address there.\nThe `type` field says what was deposited: `xtz` for native tez, `fa` for an FA token.\n\nThe `runtime` field says which runtime the funds landed in, and therefore which fields to expect.\n\nA deposit with a `depositId` was queued rather than credited right away — the funds stay on the\nbridge until a `claim` transaction drains them, and that transaction is then on the deposit as\n`claimTransactionId`. So `?depositId.ne=null&amp;claimTransactionId=null` is the queue\nitself, and the same pair with `?receiver=` answers \"I bridged, where are my funds?\".\nA deposit that was never queued has neither field set and needs no claim.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "Filters by operation hash.\n\nClick on the parameter to expand more details.\n\nExamples: `?hash=o...`, `?hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters by operation status.\n\nClick on the parameter to expand more details.\n\nExamples: `?status=applied`, `?status.ne=applied`.",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "inboxLevel",
            "in": "query",
            "description": "Filters by inbox level.\n\nClick on the parameter to expand more details.\n\nExample: `?inboxLevel=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "inboxMessageId",
            "in": "query",
            "description": "Filters by index of the deposit message within the rollup inbox at that level. Together with\n`inboxLevel` it identifies the deposit message, which is how a deposit is matched to the\nbridge ticket transfer that credited it (see `/v1/bridge_tickets/transfers`).\n\nClick on the parameter to expand more details.\n\nExample: `?inboxMessageId=0`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "receiver",
            "in": "query",
            "description": "Filters by receiver address.\n\nClick on the parameter to expand more details.\n\nExample: `?receiver.hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "description": "Filters by proxy address.\n\nClick on the parameter to expand more details.\n\nExample: `?proxy.hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters by deposit type (`xtz` or `fa`).\n\nClick on the parameter to expand more details.\n\nExample: `?type=xtz`.",
            "schema": {
              "$ref": "#/components/schemas/DepositTypeParameter"
            }
          },
          {
            "name": "ticketHash",
            "in": "query",
            "description": "Filters by ticket hash.\n\nClick on the parameter to expand more details.\n\nExample: `?ticketHash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/HexBytesParameter"
            }
          },
          {
            "name": "depositId",
            "in": "query",
            "description": "Filters by deposit id.\n\nClick on the parameter to expand more details.\n\nExamples: `?depositId=1`, `?depositId.ne=null`.",
            "schema": {
              "$ref": "#/components/schemas/BigIntegerNullParameter"
            }
          },
          {
            "name": "claimTransactionId",
            "in": "query",
            "description": "Filters by the transaction that claimed the deposit off the queue. Combined with `depositId`\nit selects deposits by their queue state: `?depositId.ne=null&amp;claimTransactionId=null`\nreturns the ones still waiting to be claimed.\n\nClick on the parameter to expand more details.\n\nExamples: `?claimTransactionId=123`, `?claimTransactionId=null`.",
            "schema": {
              "$ref": "#/components/schemas/Int64NullParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepositOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/deposit/count": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get deposit operations count",
        "description": "Returns the number of deposits matching the filters — the same ones accepted\nby `/v1/operations/deposit`. Handy for pagination controls.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "Filters by operation hash.\n\nClick on the parameter to expand more details.\n\nExamples: `?hash=o...`, `?hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters by operation status.\n\nClick on the parameter to expand more details.\n\nExamples: `?status=applied`, `?status.ne=applied`.",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "inboxLevel",
            "in": "query",
            "description": "Filters by inbox level.\n\nClick on the parameter to expand more details.\n\nExample: `?inboxLevel=1500000`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "inboxMessageId",
            "in": "query",
            "description": "Filters by index of the deposit message within the rollup inbox at that level. Together with\n`inboxLevel` it identifies the deposit message, which is how a deposit is matched to the\nbridge ticket transfer that credited it (see `/v1/bridge_tickets/transfers`).\n\nClick on the parameter to expand more details.\n\nExample: `?inboxMessageId=0`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "receiver",
            "in": "query",
            "description": "Filters by receiver address.\n\nClick on the parameter to expand more details.\n\nExample: `?receiver.hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "description": "Filters by proxy address.\n\nClick on the parameter to expand more details.\n\nExample: `?proxy.hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters by deposit type (`xtz` or `fa`).\n\nClick on the parameter to expand more details.\n\nExample: `?type=xtz`.",
            "schema": {
              "$ref": "#/components/schemas/DepositTypeParameter"
            }
          },
          {
            "name": "ticketHash",
            "in": "query",
            "description": "Filters by ticket hash.\n\nClick on the parameter to expand more details.\n\nExample: `?ticketHash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/HexBytesParameter"
            }
          },
          {
            "name": "depositId",
            "in": "query",
            "description": "Filters by deposit id.\n\nClick on the parameter to expand more details.\n\nExamples: `?depositId=1`, `?depositId.ne=null`.",
            "schema": {
              "$ref": "#/components/schemas/BigIntegerNullParameter"
            }
          },
          {
            "name": "claimTransactionId",
            "in": "query",
            "description": "Filters by the transaction that claimed the deposit off the queue. Combined with `depositId`\nit selects deposits by their queue state: `?depositId.ne=null&amp;claimTransactionId=null`\nreturns the ones still waiting to be claimed.\n\nClick on the parameter to expand more details.\n\nExamples: `?claimTransactionId=123`, `?claimTransactionId=null`.",
            "schema": {
              "$ref": "#/components/schemas/Int64NullParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/increase_paid_storage": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get increase paid storage operations",
        "description": "Returns increase paid storage operations — someone paying upfront for extra storage on\na contract, so the contract can grow later without its own callers being charged for it.\nAnyone can do this for any contract.\n\nThe `layer` field says whether it happened on Tezos L1 or Tezos X.",
        "parameters": [
          {
            "name": "contract",
            "in": "query",
            "description": "Filters by contract address.\n\nClick on the parameter to expand more details.\n\nExample: `?contract.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Filters by amount.\n\nClick on the parameter to expand more details.\n\nExample: `?amount.gt=0`.",
            "schema": {
              "$ref": "#/components/schemas/BigIntegerParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncreasePaidStorageOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/increase_paid_storage/count": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get increase paid storage operations count",
        "description": "Returns the number of increase paid storage operations matching the filters — the same ones\naccepted by `/v1/operations/increase_paid_storage`. Handy for pagination controls.",
        "parameters": [
          {
            "name": "contract",
            "in": "query",
            "description": "Filters by contract address.\n\nClick on the parameter to expand more details.\n\nExample: `?contract.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Filters by amount.\n\nClick on the parameter to expand more details.\n\nExample: `?amount.gt=0`.",
            "schema": {
              "$ref": "#/components/schemas/BigIntegerParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/migration": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get migration operations",
        "description": "Returns migrations — balance and contract changes made by the protocol itself, not by anyone's\noperation. They happen on protocol upgrades, airdrops, and similar events, so they have no hash,\nno sender and no fees. The `kind` field says what caused it.\n\nThey matter because they move funds and rewrite contracts: ignore them and a reconstructed\nbalance history won't add up.",
        "parameters": [
          {
            "name": "runtime",
            "in": "query",
            "description": "Filters by runtime (`evm` or `michelson`).\n\nClick on the parameter to expand more details.\n\nExample: `?runtime=evm`.",
            "schema": {
              "$ref": "#/components/schemas/RuntimeParameter"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters by migration kind (`bootstrap`, `activate_baker`, `air_drop`, `proposal_invoice`,\n`code_change`, `origination`, `remove_bigmap_key`, `burn_balance` or `amend_address`).\n\nClick on the parameter to expand more details.\n\nExample: `?kind=origination`.",
            "schema": {
              "$ref": "#/components/schemas/MigrationKindParameter"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "Filters by account the migration is applied to.\n\nClick on the parameter to expand more details.\n\nExample: `?account.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MigrationOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/migration/count": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get migration operations count",
        "description": "Returns the number of migrations matching the filters — the same ones accepted\nby `/v1/operations/migration`. Handy for pagination controls.",
        "parameters": [
          {
            "name": "runtime",
            "in": "query",
            "description": "Filters by runtime (`evm` or `michelson`).\n\nClick on the parameter to expand more details.\n\nExample: `?runtime=evm`.",
            "schema": {
              "$ref": "#/components/schemas/RuntimeParameter"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters by migration kind (`bootstrap`, `activate_baker`, `air_drop`, `proposal_invoice`,\n`code_change`, `origination`, `remove_bigmap_key`, `burn_balance` or `amend_address`).\n\nClick on the parameter to expand more details.\n\nExample: `?kind=origination`.",
            "schema": {
              "$ref": "#/components/schemas/MigrationKindParameter"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "Filters by account the migration is applied to.\n\nClick on the parameter to expand more details.\n\nExample: `?account.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/origination": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get origination operations",
        "description": "Returns originations — contract deployments. Each one carries the deployed contract,\nits code hash and the balance it was funded with.\n\nThe `env` field says where the contract was deployed (`l1`, `x_evm` or `x_michelson`),\nand therefore which fields to expect.\n\nFilter by `contractCodeHash` to find every deployment of the same code.",
        "parameters": [
          {
            "name": "anyof",
            "in": "query",
            "description": "Matches an address against any of the listed fields (`sender`, `contract`, `baker`, `initiator`),\ninstead of just one. This is how you get everything related to an address in a single request,\nrather than querying each field separately and merging the results yourself.\n\nClick on the parameter to expand more details.\n\nExamples: `?anyof.sender.contract=tz1...`, `?anyof.sender.initiator=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AnyOfParameter"
            }
          },
          {
            "name": "senderCodeHash",
            "in": "query",
            "description": "Filters by 32-bit hash of the sender's contract code.\n\nClick on the parameter to expand more details.\n\nExample: `?senderCodeHash=123456`.",
            "schema": {
              "$ref": "#/components/schemas/Int32NullParameter"
            }
          },
          {
            "name": "initiator",
            "in": "query",
            "description": "Filters by initiator address.\n\nClick on the parameter to expand more details.\n\nExample: `?initiator.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filters by originated contract address.\n\nClick on the parameter to expand more details.\n\nExample: `?contract.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "contractCodeHash",
            "in": "query",
            "description": "Filters by 32-bit hash of the originated contract's code.\n\nClick on the parameter to expand more details.\n\nExample: `?contractCodeHash=123456`.",
            "schema": {
              "$ref": "#/components/schemas/Int32NullParameter"
            }
          },
          {
            "name": "baker",
            "in": "query",
            "description": "Filters by baker (delegate) address.\n\nClick on the parameter to expand more details.\n\nExample: `?baker.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OriginationOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/origination/count": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get origination operations count",
        "description": "Returns the number of originations matching the filters — the same ones accepted\nby `/v1/operations/origination`. Handy for pagination controls.",
        "parameters": [
          {
            "name": "anyof",
            "in": "query",
            "description": "Matches an address against any of the listed fields (`sender`, `contract`, `baker`, `initiator`),\ninstead of just one. This is how you get everything related to an address in a single request,\nrather than querying each field separately and merging the results yourself.\n\nClick on the parameter to expand more details.\n\nExamples: `?anyof.sender.contract=tz1...`, `?anyof.sender.initiator=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AnyOfParameter"
            }
          },
          {
            "name": "senderCodeHash",
            "in": "query",
            "description": "Filters by 32-bit hash of the sender's contract code.\n\nClick on the parameter to expand more details.\n\nExample: `?senderCodeHash=123456`.",
            "schema": {
              "$ref": "#/components/schemas/Int32NullParameter"
            }
          },
          {
            "name": "initiator",
            "in": "query",
            "description": "Filters by initiator address.\n\nClick on the parameter to expand more details.\n\nExample: `?initiator.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filters by originated contract address.\n\nClick on the parameter to expand more details.\n\nExample: `?contract.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "contractCodeHash",
            "in": "query",
            "description": "Filters by 32-bit hash of the originated contract's code.\n\nClick on the parameter to expand more details.\n\nExample: `?contractCodeHash=123456`.",
            "schema": {
              "$ref": "#/components/schemas/Int32NullParameter"
            }
          },
          {
            "name": "baker",
            "in": "query",
            "description": "Filters by baker (delegate) address.\n\nClick on the parameter to expand more details.\n\nExample: `?baker.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/register_constant": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get register constant operations",
        "description": "Returns register global constant operations — Micheline expressions published on-chain\nso that contracts can reference them instead of inlining the code, which keeps them smaller\nand cheaper to deploy.\n\nEach one gets an `expr...` address to reference it by, and `refs` tells you how many contracts\ncurrently use it.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Filters by global address of the created constant (starts with `expr...`).\n\nClick on the parameter to expand more details.\n\nExample: `?address=expr...`.",
            "schema": {
              "$ref": "#/components/schemas/ExpressionParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegisterConstantOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/register_constant/count": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get register constant operations count",
        "description": "Returns the number of register global constant operations matching the filters — the same ones\naccepted by `/v1/operations/register_constant`. Handy for pagination controls.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Filters by global address of the created constant (starts with `expr...`).\n\nClick on the parameter to expand more details.\n\nExample: `?address=expr...`.",
            "schema": {
              "$ref": "#/components/schemas/ExpressionParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/reveal": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get reveal operations",
        "description": "Returns reveals — the operation that publishes an address's public key on-chain.\nEvery address must reveal once before it can send anything else, so this is usually\nthe first operation in an account's history.\n\nThe `layer` field says whether it happened on Tezos L1 or Tezos X.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "Filters by operation hash.\n\nClick on the parameter to expand more details.\n\nExamples: `?hash=o...`, `?hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Filters by sender address.\n\nClick on the parameter to expand more details.\n\nExamples: `?sender.hash=tz1...`, `?sender.hash.in=tz1...,0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "description": "Filters by the sender's operation counter.\n\nClick on the parameter to expand more details.\n\nExample: `?counter=42`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters by operation status.\n\nClick on the parameter to expand more details.\n\nExamples: `?status=applied`, `?status.ne=applied`.",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RevealOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/reveal/count": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get reveal operations count",
        "description": "Returns the number of reveals matching the filters — the same ones accepted\nby `/v1/operations/reveal`. Handy for pagination controls.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "Filters by operation hash.\n\nClick on the parameter to expand more details.\n\nExamples: `?hash=o...`, `?hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Filters by sender address.\n\nClick on the parameter to expand more details.\n\nExamples: `?sender.hash=tz1...`, `?sender.hash.in=tz1...,0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "description": "Filters by the sender's operation counter.\n\nClick on the parameter to expand more details.\n\nExample: `?counter=42`.",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters by operation status.\n\nClick on the parameter to expand more details.\n\nExamples: `?status=applied`, `?status.ne=applied`.",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/transaction": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get transaction operations",
        "description": "Returns transactions — transfers of value and contract calls, the most common operation there is.\nInternal transactions made by contracts are returned alongside the top-level ones.\n\nThe `direction` field says which runtimes the transaction went between (`l1`, `x_evm`, `x_michelson`,\nor one of the cross-runtime pairs), and therefore which fields to expect. Note that cross-runtime\ntransactions carry both a sent and a received amount, in different decimals.\n\nUse `anyof.sender.target=...` to get everything related to an address in one request,\nand `select` to keep responses small — decoded parameters can be bulky.",
        "parameters": [
          {
            "name": "anyof",
            "in": "query",
            "description": "Matches an address against any of the listed fields (`sender`, `target`, `initiator`),\ninstead of just one. This is how you get everything related to an address in a single request,\nrather than querying each field separately and merging the results yourself.\n\nClick on the parameter to expand more details.\n\nExamples: `?anyof.sender.target=tz1...`, `?anyof.sender.target.initiator=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AnyOfParameter"
            }
          },
          {
            "name": "senderCodeHash",
            "in": "query",
            "description": "Filters by 32-bit hash of the sender's contract code.\n\nClick on the parameter to expand more details.\n\nExample: `?senderCodeHash=123456`.",
            "schema": {
              "$ref": "#/components/schemas/Int32NullParameter"
            }
          },
          {
            "name": "target",
            "in": "query",
            "description": "Filters by target address.\n\nClick on the parameter to expand more details.\n\nExample: `?target.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "targetCodeHash",
            "in": "query",
            "description": "Filters by 32-bit hash of the target's contract code.\n\nClick on the parameter to expand more details.\n\nExample: `?targetCodeHash=123456`.",
            "schema": {
              "$ref": "#/components/schemas/Int32NullParameter"
            }
          },
          {
            "name": "initiator",
            "in": "query",
            "description": "Filters by initiator address.\n\nClick on the parameter to expand more details.\n\nExample: `?initiator.hash=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoNullParameter"
            }
          },
          {
            "name": "entrypoint",
            "in": "query",
            "description": "Filters by entrypoint called on the target contract.\n\nClick on the parameter to expand more details.\n\nExamples: `?entrypoint=transfer`, `?entrypoint=null`.",
            "schema": {
              "$ref": "#/components/schemas/StringNullParameter"
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "Filters by parameters passed to the target contract.\n\nClick on the parameter to expand more details.\n\nExample: `?parameters.to=tz1...`.",
            "schema": {
              "$ref": "#/components/schemas/JsonParameter"
            }
          },
          {
            "name": "guessed",
            "in": "query",
            "description": "Filters by which source the entrypoint, the parameters and the result were decoded with:\n`false` for operations, decoded with a trusted one (contract ABI for `evm`, contract schema\nfor `michelson`), `true` for operations, where the only available source was a guess, made\nby matching the function selector against popular standards, because the contract ABI is\nunknown.\n\nExample: `?guessed=false`.",
            "schema": {
              "type": [
                "null",
                "boolean"
              ]
            }
          },
          {
            "name": "alias",
            "in": "query",
            "description": "Filters by alias address (Tezos X cross-runtime only).\n\nClick on the parameter to expand more details.\n\nExample: `?alias.hash=KT1...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoNullParameter"
            }
          },
          {
            "name": "gateway",
            "in": "query",
            "description": "Filters by gateway address (Tezos X cross-runtime only).\n\nClick on the parameter to expand more details.\n\nExample: `?gateway.hash=0x...`.",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoNullParameter"
            }
          },
          {
            "name": "claimDepositId",
            "in": "query",
            "description": "Filters by the deposit operation the transaction claimed off the queue (Tezos X bridge claims\nonly). This is the deposit's `id`, not its `depositId` — use `?claimDepositId.ne=null`\nto get all the claims.\n\nClick on the parameter to expand more details.\n\nExamples: `?claimDepositId=123`, `?claimDepositId.ne=null`.",
            "schema": {
              "$ref": "#/components/schemas/Int64NullParameter"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationHashParameter"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressInfoParameter"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32Parameter"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OperationStatusParameter"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int64Parameter"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ChainInfoParameter"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Int32RangeParameter"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DateTimeRangeParameter"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated list of fields (with optional sort direction) to sort by.\n\nExamples: `?sort=id`, `?sort=id.desc`, `?sort=balance.desc,id.asc`.\n\nAllowed fields: `id`, `timestamp`.",
            "schema": {
              "$ref": "#/components/schemas/SortParameter"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Sort field values of the last item from the previous page — one value per `sort` field, comma-separated.\nReturns the items that go after it. Faster and safer than `offset` on long lists, because it doesn't\nskip or duplicate items when the data changes between requests.\n\nExamples: `?cursor=1234` with `?sort=id`, `?cursor=1000,1234` with `?sort=balance.desc,id`.",
            "schema": {
              "$ref": "#/components/schemas/CursorParameter"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (0-100000). Simple, but gets slower the deeper you go, and it is capped\nfor that reason — use `cursor` to page beyond the cap, and for long lists in general.\n\nExample: `?offset=100`.",
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (1-10000).\n\nExample: `?limit=50`.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma-separated list of fields to return instead of the default set, which makes responses\nnoticeably smaller and faster. Each item is `{field}{.path?}{ as alias?}`, so you can reach into\nnested objects and rename the result. Leave it out to get the default set of fields.\n\nNote that selecting a single field flattens the response into a plain array of values.\n\nClick on the parameter to expand more details.\n\nExamples: `?select=id,balance`, `?select=balance,token.metadata.symbol as symbol`.",
            "schema": {
              "$ref": "#/components/schemas/SelectionParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/transaction/count": {
      "get": {
[...]
